In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import scipy
import scipy.stats as stats
import sklearn.impute as simpleImputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler,StandardScaler,RobustScaler,PolynomialFeatures,QuantileTransformer
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
import plotly.express as px

import acquire
import acq
import wrangle_zillow
import env

In [2]:
df0 = wrangle_zillow.get_zillow_single_unit_2017_cluster()
df0.shape

/Users/geary.shenck/codeup-data-science/clustering-exercises/wrangle_zillow.py:16: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("zillow_single_fam_sold_2017_cluster.csv", index_col = 0)

(77574, 68)

In [3]:
cols_missing, rows_missing = wrangle_zillow.summarize(df0)

DataFrame head:

        id  parcelid  airconditioningtypeid  architecturalstyletypeid  \
0  1727539  14297519                    NaN                       NaN
1  1387261  17052889                    NaN                       NaN
2    11677  14186244                    NaN                       NaN
3  2288172  12177905                    NaN                       NaN
4  1970746  10887214                    1.0                       NaN

   basementsqft  bathroomcnt  bedroomcnt  buildingclasstypeid  \
0           NaN          3.5         4.0                  NaN
1           NaN          1.0         2.0                  NaN
2           NaN          2.0         3.0                  NaN
3           NaN          3.0         4.0                  NaN
4           NaN          3.0         3.0                  NaN

   buildingqualitytypeid  calculatedbathnbr  ...  censustractandblock  \
0                    NaN                3.5  ...         6.059063e+13
1                    NaN                1.0  ...         6.111001e+13
2                    NaN                2.0  ...         6.059022e+13
3                    8.0                3.0  ...         6.037300e+13
4                    8.0                3.0  ...         6.037124e+13

   logerror  transactiondate  airconditioningdesc  architecturalstyledesc  \
0  0.025595       2017-01-01                  NaN                     NaN
1  0.055619       2017-01-01                  NaN                     NaN
2  0.005383       2017-01-01                  NaN                     NaN
3 -0.103410       2017-01-01                  NaN                     NaN
4  0.006940       2017-01-01              Central                     NaN

   buildingclassdesc  heatingorsystemdesc        propertylandusedesc  \
0                NaN                  NaN  Single Family Residential
1                NaN                  NaN  Single Family Residential
2                NaN                  NaN  Single Family Residential
3                NaN              Central  Single Family Residential
4                NaN              Central                Condominium

   storydesc  typeconstructiondesc
0        NaN                   NaN
1        NaN                   NaN
2        NaN                   NaN
3        NaN                   NaN
4        NaN                   NaN

[5 rows x 68 columns]
----------
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77574 entries, 0 to 77573
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77574 non-null  int64
 1   parcelid                      77574 non-null  int64
 2   airconditioningtypeid         25006 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77574 non-null  float64
 6   bedroomcnt                    77574 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49808 non-null  float64
 9   calculatedbathnbr             76959 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6035 non-null   float64
 12  calculatedfinishedsquarefeet  77374 non-null  float64
 13  finishedsquarefeet12          73919 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6035 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77574 non-null  float64
 19  fireplacecnt                  8287 non-null   float64
 20  fullbathcnt                   76959 non-null  float64
 21  garagecarcnt                  25517 non-null  float64
 22  garagetotalsqft               25517 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49569 non-null  float64
 25  latitude                      77574 non-null  float64
 26  longitude                     77574 non-null  float64
 27  lotsizesquarefeet             69317 non-null  float64
 28  poolcnt                       16173 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15078 non-null  float64
 33  propertycountylandusecode     77574 non-null  object
 34  propertylandusetypeid         77574 non-null  float64
 35  propertyzoningdesc            50474 non-null  object
 36  rawcensustractandblock        77574 non-null  float64
 37  regionidcity                  76102 non-null  float64
 38  regionidcounty                77574 non-null  float64
 39  regionidneighborhood          30973 non-null  float64
 40  regionidzip                   77524 non-null  float64
 41  roomcnt                       77574 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10105 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49569 non-null  object
 65  propertylandusedesc           77574 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.8+ MB
None
----------
Dataframe Description:

                 id      parcelid  airconditioningtypeid  \
count  7.757400e+04  7.757400e+04           25006.000000
mean   1.495340e+06  1.300630e+07               1.812045
std    8.609689e+05  3.478043e+06               2.965823
min    3.490000e+02  1.071186e+07               1.000000
25%    7.520875e+05  1.153819e+07               1.000000
50%    1.498169e+06  1.253050e+07               1.000000
75%    2.240588e+06  1.421124e+07               1.000000
max    2.982274e+06  1.676893e+08              13.000000

       architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                206.000000     50.000000  77574.000000  77574.000000
mean                   7.388350    679.720000      2.298521      3.053252
std                    2.734542    689.703546      0.996706      1.140447
min                    2.000000     38.000000      0.000000      0.000000
25%                    7.000000    273.000000      2.000000      2.000000
50%                    7.000000    515.000000      2.000000      3.000000
75%                    7.000000    796.500000      3.000000      4.000000
max                   21.000000   3560.000000     18.000000     16.000000

       buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count            15.000000           49808.000000       76959.000000  ...
mean              3.933333               6.533830           2.316389  ...
std               0.258199               1.722041           0.979690  ...
min               3.000000               1.000000           1.000000  ...
25%               4.000000               6.000000           2.000000  ...
50%               4.000000               6.000000           2.000000  ...
75%               4.000000               8.000000           3.000000  ...
max               4.000000              12.000000          18.000000  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17596.000000          172.0                7.745900e+04
mean          1.434246            1.0                1.892829e+05
std           0.544518            0.0                2.304149e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.418200e+04
50%           1.000000            1.0                1.364070e+05
75%           2.000000            1.0                2.187340e+05
max           6.000000            1.0                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.757300e+04         77574.0           7.757200e+04
mean        4.901477e+05          2016.0           3.011468e+05
std         6.538059e+05             0.0           4.927317e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.068980e+05          2016.0           8.529200e+04
50%         3.588790e+05          2016.0           2.031810e+05
75%         5.690000e+05          2016.0           3.667610e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   77569.000000         2900.000000         7.732700e+04  77574.000000
mean     5995.855691           14.088276         6.049666e+13      0.016805
std      7628.912331            2.181281         1.533386e+12      0.170742
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2712.610000           14.000000         6.037311e+13     -0.024310
50%      4448.300000           15.000000         6.037603e+13      0.006673
75%      6926.820000           15.000000         6.059042e+13      0.039292
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 57 columns]
----------
Null value assessments:

nulls by column:                            num_rows_missing  percent_rows_missing
id                                       0              0.000000
parcelid                                 0              0.000000
airconditioningtypeid                52568             67.764973
architecturalstyletypeid             77368             99.734447
basementsqft                         77524             99.935545
...                                    ...                   ...
buildingclassdesc                    77559             99.980664
heatingorsystemdesc                  28005             36.101013
propertylandusedesc                      0              0.000000
storydesc                            77524             99.935545
typeconstructiondesc                 77352             99.713822

[68 rows x 2 columns]
--
nulls by row:      num_cols_missing  percent_cols_missing  count
0                 23             33.823529      2
1                 24             35.294118     13
2                 25             36.764706     24
3                 26             38.235294     65
4                 27             39.705882    316
5                 28             41.176471    457
6                 29             42.647059   5285
7                 30             44.117647   3465
8                 31             45.588235   9911
9                 32             47.058824  12606
10                33             48.529412  14817
11                34             50.000000  13356
12                35             51.470588   5163
13                36             52.941176   5793
14                37             54.411765   3630
15                38             55.882353   1932
16                39             57.352941    285
17                40             58.823529    230
18                41             60.294118     29
19                42             61.764706     26
20                43             63.235294     29
21                44             64.705882     79
22                45             66.176471     50
23                46             67.647059      5
24                47             69.117647      3
25                48             70.588235      3
--------
value_counts:

---------
Report Finished

In [4]:
cols_missing[cols_missing.percent_rows_missing > 75]

                          num_rows_missing  percent_rows_missing
architecturalstyletypeid             77368             99.734447
basementsqft                         77524             99.935545
buildingclasstypeid                  77559             99.980664
decktypeid                           76960             99.208498
finishedfloor1squarefeet             71539             92.220332
finishedsquarefeet13                 77532             99.945858
finishedsquarefeet15                 74547             96.097919
finishedsquarefeet50                 71539             92.220332
finishedsquarefeet6                  77188             99.502411
fireplacecnt                         69287             89.317297
hashottuborspa                       76035             98.016088
poolcnt                              61401             79.151520
poolsizesum                          76705             98.879779
pooltypeid10                         77109             99.400572
pooltypeid2                          76500             98.615516
pooltypeid7                          62496             80.563075
storytypeid                          77524             99.935545
threequarterbathnbr                  67469             86.973728
typeconstructiontypeid               77352             99.713822
yardbuildingsqft17                   75181             96.915204
yardbuildingsqft26                   77504             99.909764
numberofstories                      59978             77.317142
fireplaceflag                        77402             99.778276
taxdelinquencyflag                   74674             96.261634
taxdelinquencyyear                   74674             96.261634
architecturalstyledesc               77368             99.734447
buildingclassdesc                    77559             99.980664
storydesc                            77524             99.935545
typeconstructiondesc                 77352             99.713822

In [5]:
rows_missing[rows_missing.percent_cols_missing > 50]

    num_cols_missing  percent_cols_missing  count
12                35             51.470588   5163
13                36             52.941176   5793
14                37             54.411765   3630
15                38             55.882353   1932
16                39             57.352941    285
17                40             58.823529    230
18                41             60.294118     29
19                42             61.764706     26
20                43             63.235294     29
21                44             64.705882     79
22                45             66.176471     50
23                46             67.647059      5
24                47             69.117647      3
25                48             70.588235      3

In [6]:
df0.columns

Index(['id', 'parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'logerror', 'transactiondate',
       'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
       'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
       'typeconstructiondesc'],
      dtype='object')

In [7]:
df = wrangle_zillow.data_prep_drop(df0, cols_to_remove=[
                            "roomcnt","heatingorsystemtypeid","airconditioningtypeid",\
                                "architecturalstyletypeid","buildingclasstypeid","typeconstructiontypeid",\
                                    "storytypeid","propertylandusetypeid"], column_prop_required=.5, row_prop_required=.75)
df.shape

(77418, 31)

In [8]:
df.propertylandusedesc.value_counts()

Single Family Residential                     52373
Condominium                                   19283
Duplex (2 Units, Any Combination)              2020
Planned Unit Development                       1945
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              539
Cluster Home                                    335
Mobile Home                                      63
Manufactured, Modular, Prefabricated Homes       52
Residential General                              31
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [9]:
df = df[(df.propertylandusedesc == "Single Family Residential") | (df.propertylandusedesc == "Condominium")]
df= df[df.unitcnt < 2]
df.shape

(45343, 31)

In [10]:
df.head(5).T

,3,4,6,7,8
id,2288172,1970746,781532,870991,1246926
parcelid,12177905,10887214,12095076,12069064,12790562
bathroomcnt,3.0,3.0,3.0,1.0,3.0
bedroomcnt,4.0,3.0,4.0,2.0,4.0
buildingqualitytypeid,8.0,8.0,9.0,5.0,9.0
calculatedbathnbr,3.0,3.0,3.0,1.0,3.0
calculatedfinishedsquarefeet,2376.0,1312.0,2962.0,738.0,3039.0
finishedsquarefeet12,2376.0,1312.0,2962.0,738.0,3039.0
fips,6037.0,6037.0,6037.0,6037.0,6037.0
fullbathcnt,3.0,3.0,3.0,1.0,3.0
latitude,34245180.0,34185120.0,34145202.0,34149214.0,33960230.0
longitude,-118240722.0,-118414640.0,-118179824.0,-118239357.0,-118006914.0
lotsizesquarefeet,13038.0,278581.0,63000.0,4214.0,20028.0
propertycountylandusecode,0101,010C,0101,0100,0100
propertyzoningdesc,LCR110000*,LAR3,PSR2,GLR4YY,WHRE20000*
rawcensustractandblock,60373001.001006,60371236.012,60374608.001014,60373020.041001,60375002.024006
regionidcity,396551.0,12447.0,47019.0,45457.0,14634.0
regionidcounty,3101.0,3101.0,3101.0,3101.0,3101.0
regionidzip,96330.0,96451.0,96293.0,96325.0,96173.0
unitcnt,1.0,1.0,1.0,1.0,1.0
yearbuilt,1970.0,1964.0,1950.0,1922.0,1970.0
structuretaxvaluedollarcnt,108918.0,73681.0,276684.0,18890.0,177527.0
taxvaluedollarcnt,145143.0,119407.0,773303.0,218552.0,220583.0
assessmentyear,2016.0,2016.0,2016.0,2016.0,2016.0
landtaxvaluedollarcnt,36225.0,45726.0,496619.0,199662.0,43056.0
taxamount,1777.51,1533.89,9516.26,2366.08,3104.19
censustractandblock,60373001001006.0,60371236012000.0,60374608001014.0,60373020041001.0,60375002024006.0
logerror,-0.10341,0.00694,-0.001011,0.101723,-0.040966
transactiondate,2017-01-01,2017-01-01,2017-01-01,2017-01-01,2017-01-02
heatingorsystemdesc,Central,Central,Central,NaN,Central
propertylandusedesc,Single Family Residential,Condominium,Single Family Residential,Single Family Residential,Single Family Residential

In [11]:
check_for_outliers = ['bathroomcnt', 'bedroomcnt','calculatedbathnbr', 
                        'calculatedfinishedsquarefeet','finishedsquarefeet12','lotsizesquarefeet',
                        'unitcnt','structuretaxvaluedollarcnt', 'taxvaluedollarcnt',
                        'landtaxvaluedollarcnt', 'taxamount']
outliers_df,outliers_list = wrangle_zillow.get_outliers(df[check_for_outliers], 1.5)
outliers_df[outliers_df[outliers_list].sum(axis=1)>0].head(10).T

~~~
bathroomcnt_outlier
count    1204.000000
mean        1.080565
std         0.981620
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         8.500000
Name: bathroomcnt_outlier, dtype: float64
~~~
bedroomcnt_outlier
count    30.000000
mean      1.466667
std       0.776079
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       4.000000
Name: bedroomcnt_outlier, dtype: float64
~~~
calculatedbathnbr_outlier
count    1176.000000
mean        1.094388
std         0.989099
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         8.500000
Name: calculatedbathnbr_outlier, dtype: float64
~~~
calculatedfinishedsquarefeet_outlier
count     2648.000000
mean      1088.166163
std       1442.306304
min          0.500000
25%        248.500000
50%        620.500000
75%       1347.750000
max      18743.500000
Name: calculatedfinishedsquarefeet_outlier, dtype: float64
~~~
finishedsquarefeet12_outlier
count     2648.000000
mean      1088.166163
std       1442.306304
min          0.500000
25%        248.500000
50%        620.500000
75%       1347.750000
max      18743.500000
Name: finishedsquarefeet12_outlier, dtype: float64
~~~
lotsizesquarefeet_outlier
count    7.511000e+03
mean     1.556465e+05
std      3.229062e+05
min      2.500000e-01
25%      2.122575e+04
50%      6.813925e+04
75%      1.790488e+05
max      6.935183e+06
Name: lotsizesquarefeet_outlier, dtype: float64
~~~
unitcnt_outlier
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: unitcnt_outlier, dtype: float64
~~~
structuretaxvaluedollarcnt_outlier
count    3.287000e+03
mean     3.588958e+05
std      6.084292e+05
min      1.187500e+02
25%      5.911375e+04
50%      1.644338e+05
75%      4.158368e+05
max      8.769720e+06
Name: structuretaxvaluedollarcnt_outlier, dtype: float64
~~~
taxvaluedollarcnt_outlier
count    3.322000e+03
mean     1.036179e+06
std      1.788678e+06
min      5.392500e+02
25%      1.865632e+05
50%      5.053688e+05
75%      1.150794e+06
max      2.433204e+07
Name: taxvaluedollarcnt_outlier, dtype: float64
~~~
landtaxvaluedollarcnt_outlier
count    3.045000e+03
mean     7.507133e+05
std      1.391872e+06
min      8.200000e+01
25%      1.335770e+05
50%      3.480100e+05
75%      7.963250e+05
max      2.158682e+07
Name: landtaxvaluedollarcnt_outlier, dtype: float64
~~~
taxamount_outlier
count      3384.000000
mean      12004.032973
std       20959.653855
min           4.065000
25%        2161.445000
50%        5767.910000
75%       13316.627500
max      278320.905000
Name: taxamount_outlier, dtype: float64

,4,6,9,17,20,24,30,32,33,46
bathroomcnt,3.00,3.00,3.00,3.00,2.00,3.00,3.00,3.000,4.000,3.00
bedroomcnt,3.00,4.00,2.00,3.00,3.00,2.00,4.00,3.000,5.000,2.00
calculatedbathnbr,3.00,3.00,3.00,3.00,2.00,3.00,3.00,3.000,4.000,3.00
calculatedfinishedsquarefeet,1312.00,2962.00,1290.00,1435.00,1092.00,2126.00,2447.00,3641.000,3572.000,1110.00
finishedsquarefeet12,1312.00,2962.00,1290.00,1435.00,1092.00,2126.00,2447.00,3641.000,3572.000,1110.00
lotsizesquarefeet,278581.00,63000.00,54048.00,45171.00,36005.00,221601.00,7911.00,183383.000,20148.000,8500.00
unitcnt,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.000,1.000,1.00
structuretaxvaluedollarcnt,73681.00,276684.00,151303.00,169727.00,140581.00,276641.00,320000.00,833933.000,678493.000,450000.00
taxvaluedollarcnt,119407.00,773303.00,371361.00,259197.00,178646.00,573247.00,1083000.00,1444248.000,1473080.000,563000.00
landtaxvaluedollarcnt,45726.00,496619.00,220058.00,89470.00,38065.00,296606.00,763000.00,610315.000,794587.000,113000.00
taxamount,1533.89,9516.26,4557.32,2831.48,2391.69,6964.34,12371.76,16542.970,17643.270,6727.01
bathroomcnt_outlier,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.00
bedroomcnt_outlier,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.00
calculatedbathnbr_outlier,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.00
calculatedfinishedsquarefeet_outlier,0.00,0.00,0.00,0.00,0.00,0.00,0.00,455.500,386.500,0.00
finishedsquarefeet12_outlier,0.00,0.00,0.00,0.00,0.00,0.00,0.00,455.500,386.500,0.00
lotsizesquarefeet_outlier,242754.25,27173.25,18221.25,9344.25,178.25,185774.25,0.00,147556.250,0.000,0.00
unitcnt_outlier,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.00
structuretaxvaluedollarcnt_outlier,0.00,0.00,0.00,0.00,0.00,0.00,0.00,438751.750,283311.750,54818.75
taxvaluedollarcnt_outlier,0.00,0.00,0.00,0.00,0.00,0.00,33794.25,395042.250,423874.250,0.00
landtaxvaluedollarcnt_outlier,0.00,0.00,0.00,0.00,0.00,0.00,14325.00,0.000,45912.000,0.00
taxamount_outlier,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3865.815,4966.115,0.00

In [18]:
outliers_df[outliers_df[outliers_list].sum(axis=1)>0]

,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,lotsizesquarefeet,unitcnt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,...,bedroomcnt_outlier,calculatedbathnbr_outlier,calculatedfinishedsquarefeet_outlier,finishedsquarefeet12_outlier,lotsizesquarefeet_outlier,unitcnt_outlier,structuretaxvaluedollarcnt_outlier,taxvaluedollarcnt_outlier,landtaxvaluedollarcnt_outlier,taxamount_outlier
4,3.0,3.0,3.0,1312.0,1312.0,278581.0,1.0,73681.0,119407.0,45726.0,...,0.0,0.0,0.0,0.0,242754.25,0.0,0.0,0.00,0.0,0.000
6,3.0,4.0,3.0,2962.0,2962.0,63000.0,1.0,276684.0,773303.0,496619.0,...,0.0,0.0,0.0,0.0,27173.25,0.0,0.0,0.00,0.0,0.000
9,3.0,2.0,3.0,1290.0,1290.0,54048.0,1.0,151303.0,371361.0,220058.0,...,0.0,0.0,0.0,0.0,18221.25,0.0,0.0,0.00,0.0,0.000
17,3.0,3.0,3.0,1435.0,1435.0,45171.0,1.0,169727.0,259197.0,89470.0,...,0.0,0.0,0.0,0.0,9344.25,0.0,0.0,0.00,0.0,0.000
20,2.0,3.0,2.0,1092.0,1092.0,36005.0,1.0,140581.0,178646.0,38065.0,...,0.0,0.0,0.0,0.0,178.25,0.0,0.0,0.00,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77562,1.0,2.0,1.0,868.0,868.0,107392.0,1.0,114934.0,259738.0,144804.0,...,0.0,0.0,0.0,0.0,71565.25,0.0,0.0,0.00,0.0,0.000
77565,3.0,3.0,3.0,2200.0,2200.0,7503.0,1.0,226351.0,1414710.0,1188359.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,365504.25,439684.0,3711.145
77566,2.0,2.0,2.0,1261.0,1261.0,57110.0,1.0,131899.0,346788.0,214889.0,...,0.0,0.0,0.0,0.0,21283.25,0.0,0.0,0.00,0.0,0.000
77569,3.0,3.0,3.0,1741.0,1741.0,59487.0,1.0,265000.0,379000.0,114000.0,...,0.0,0.0,0.0,0.0,23660.25,0.0,0.0,0.00,0.0,0.000
77570,2.0,2.0,2.0,1286.0,1286.0,47405.0,1.0,70917.0,354621.0,283704.0,...,0.0,0.0,0.0,0.0,11578.25,0.0,0.0,0.00,0.0,0.000

In [12]:
df.bathroomcnt.describe()

count    45343.000000
mean         2.206824
std          0.987420
min          0.000000
25%          2.000000
50%          2.000000
75%          3.000000
max         13.000000
Name: bathroomcnt, dtype: float64

In [13]:
df.structuretaxvaluedollarcnt.describe()

count    4.527900e+04
mean     1.839648e+05
std      2.421474e+05
min      1.290000e+02
25%      8.200000e+04
50%      1.314000e+05
75%      2.072725e+05
max      9.164901e+06
Name: structuretaxvaluedollarcnt, dtype: float64

In [14]:
df.shape

(45343, 31)

In [15]:
df.unitcnt.describe()

count    45343.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: unitcnt, dtype: float64

In [16]:
df.head().T

,3,4,6,7,8
id,2288172,1970746,781532,870991,1246926
parcelid,12177905,10887214,12095076,12069064,12790562
bathroomcnt,3.0,3.0,3.0,1.0,3.0
bedroomcnt,4.0,3.0,4.0,2.0,4.0
buildingqualitytypeid,8.0,8.0,9.0,5.0,9.0
calculatedbathnbr,3.0,3.0,3.0,1.0,3.0
calculatedfinishedsquarefeet,2376.0,1312.0,2962.0,738.0,3039.0
finishedsquarefeet12,2376.0,1312.0,2962.0,738.0,3039.0
fips,6037.0,6037.0,6037.0,6037.0,6037.0
fullbathcnt,3.0,3.0,3.0,1.0,3.0
latitude,34245180.0,34185120.0,34145202.0,34149214.0,33960230.0
longitude,-118240722.0,-118414640.0,-118179824.0,-118239357.0,-118006914.0
lotsizesquarefeet,13038.0,278581.0,63000.0,4214.0,20028.0
propertycountylandusecode,0101,010C,0101,0100,0100
propertyzoningdesc,LCR110000*,LAR3,PSR2,GLR4YY,WHRE20000*
rawcensustractandblock,60373001.001006,60371236.012,60374608.001014,60373020.041001,60375002.024006
regionidcity,396551.0,12447.0,47019.0,45457.0,14634.0
regionidcounty,3101.0,3101.0,3101.0,3101.0,3101.0
regionidzip,96330.0,96451.0,96293.0,96325.0,96173.0
unitcnt,1.0,1.0,1.0,1.0,1.0
yearbuilt,1970.0,1964.0,1950.0,1922.0,1970.0
structuretaxvaluedollarcnt,108918.0,73681.0,276684.0,18890.0,177527.0
taxvaluedollarcnt,145143.0,119407.0,773303.0,218552.0,220583.0
assessmentyear,2016.0,2016.0,2016.0,2016.0,2016.0
landtaxvaluedollarcnt,36225.0,45726.0,496619.0,199662.0,43056.0
taxamount,1777.51,1533.89,9516.26,2366.08,3104.19
censustractandblock,60373001001006.0,60371236012000.0,60374608001014.0,60373020041001.0,60375002024006.0
logerror,-0.10341,0.00694,-0.001011,0.101723,-0.040966
transactiondate,2017-01-01,2017-01-01,2017-01-01,2017-01-01,2017-01-02
heatingorsystemdesc,Central,Central,Central,NaN,Central
propertylandusedesc,Single Family Residential,Condominium,Single Family Residential,Single Family Residential,Single Family Residential

In [17]:
df[(outliers_df[outliers_list].sum(axis=1) > 0)]

,id,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
4,1970746,10887214,3.0,3.0,8.0,3.0,1312.0,1312.0,6037.0,3.0,...,73681.0,119407.0,2016.0,45726.0,1533.89,6.037124e+13,0.006940,2017-01-01,Central,Condominium
6,781532,12095076,3.0,4.0,9.0,3.0,2962.0,2962.0,6037.0,3.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,Central,Single Family Residential
9,1585097,11542646,3.0,2.0,8.0,3.0,1290.0,1290.0,6037.0,3.0,...,151303.0,371361.0,2016.0,220058.0,4557.32,6.037275e+13,-0.036763,2017-01-02,Central,Condominium
17,1169121,12045625,3.0,3.0,8.0,3.0,1435.0,1435.0,6037.0,3.0,...,169727.0,259197.0,2016.0,89470.0,2831.48,6.037301e+13,-0.017167,2017-01-02,Central,Condominium
20,2542130,12325145,2.0,3.0,6.0,2.0,1092.0,1092.0,6037.0,2.0,...,140581.0,178646.0,2016.0,38065.0,2391.69,6.037554e+13,0.042463,2017-01-02,Central,Condominium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77562,1089830,10722237,1.0,2.0,8.0,1.0,868.0,868.0,6037.0,1.0,...,114934.0,259738.0,2016.0,144804.0,3225.40,6.037134e+13,0.052630,2017-09-19,Central,Condominium
77565,1684937,12666457,3.0,3.0,10.0,3.0,2200.0,2200.0,6037.0,3.0,...,226351.0,1414710.0,2016.0,1188359.0,16388.30,6.037621e+13,0.028733,2017-09-19,Central,Condominium
77566,1642435,10858613,2.0,2.0,8.0,2.0,1261.0,1261.0,6037.0,2.0,...,131899.0,346788.0,2016.0,214889.0,4231.76,6.037141e+13,-0.075465,2017-09-19,Central,Condominium
77569,2864704,10833991,3.0,3.0,8.0,3.0,1741.0,1741.0,6037.0,3.0,...,265000.0,379000.0,2016.0,114000.0,4685.34,6.037132e+13,-0.002245,2017-09-20,Central,Condominium
77570,673515,11000655,2.0,2.0,6.0,2.0,1286.0,1286.0,6037.0,2.0,...,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20,Central,Single Family Residential